
<table class="table table-xs table-striped table-hover">
    <thead>
    <th>Dags.</th>
    <th class="xs-hidden">Branch coverage</th>
    <th class="xs-hidden">Line coverage</th>
    <th class="xs-hidden">Instruction coverage</th>
    <th>Ný próf</th>
    <th>Stig</th>
    <th>Orður</th>
    </thead>
    <tbody>
    <tr ng-repeat="row in sessions.value" ng-class="{'failed': row.sessionStatus == 2, 'processing': row.sessionStatus == 0}" ng-click="showSession(row.sessionId)">
        <td ng-bind="row.date | date:'medium'"></td>
        <td class="xs-hidden">{{row.branchCoverage * 100 | number:2}}%</td>
        <td class="xs-hidden">{{row.lineCoverage * 100 | number:2}}%</td>
        <td class="xs-hidden">{{row.instructionCoverage * 100 | number:2}}%</td>
        <td ng-bind="row.newTests"></td>
        <td ng-bind="row.pointsCollected"></td>
        <td ng-bind="row.badgesEarned"></td>
    </tr>
    </tbody>
</table>