<div class="modal-header">
    <h3 class="modal-title">Detached Method</h3>
</div>
<div class="modal-body">
    <p>Test klasi getur haft setup() fall (fall með @BeforeClass annotationið) sem að er keyrt fyrir öll test föllin í klasanum. Ef að klasi hefur ekki slíkt fall, þá er hann með svokallað implicit setup. Implicit setup samanstendur af öllum member breytum test klasans. Detached methods eru öll þau test föll sem að nota eða vísa í engar member breytur. Til þess að laga detached methods er hægt að extracta super klasa með breytunum og föllunum sem að nota breyturnar.</p>
</div>