<div class="modal-header">
    <h3 class="modal-title">Inline setup</h3>
</div>
<div class="modal-body">
    <p>Hægt er að staðsetja setup kóða fyrir test föll víða. Einfaldast er að setja allan setup kóða bara beint inn í test fallið - inline setup, og stilla kerfið sem prófa á bara þar í stað þess að aðgreina setup kóða frá prófkóðanum. Það getur verið jákvætt að því leyti að þá er setup kóðinn nálægt test kóðanum sjálfum. Það getur hinsvegar verið neikvætt að því leyti að þetta býður upp á að setup kóði sé afritaður fram og til baka með tilheyrandi vandamálum. Til að lagfæra er hægt að færa setupkóða yfir í sér setup fall. Munið að setupföll mega alveg hafa parametra og skilagildi.</p>
</div>

